<div class="container main">
  <div class="cont1">
    <img class="cover" [src]="User.imageName" >
  </div>
  <div class="cont2">
    <p class="name">First name: {{User.firstName}}</p>
    <p class="name">Last name: {{User.lastName}}</p>
    <p class="name">Email: {{User.email}}</p>
    <p class="name">Login: {{User.login}}</p>
  </div>
  <div class="">
    <button class="btn btn-warning">Change accounts info</button>
    <P class="delete">Delete account</P>
  </div>
</div>
<div class="container adminHelper" *ngIf="User.role == 'Admin'">
  <h1 class="title">Admin Page<span class="badge badge-secondary badgeAdmin">{{toggler}}</span></h1>
  <button class="btn btn-success book" (click)="AddBook()">Create book</button>
  <button class="btn btn-primary author" (click)="AddAuthor()">Create author</button>
  <button class="btn btn-primary change"  (click)="ShowAuthors()">Change</button>
  <div *ngIf="toggler == 'Books'">
  <div *ngFor="let book of Books" class="bookHelperItem">
    <h3 (click)="showBook(book.id)" class="headerBookAdmin">{{book.name}}</h3>
    <p style="padding-left: 20px">{{book.authorName}}</p>
    <div class="buttonAdmin">
    <button (click)="update(book.id)">Update</button>
    <button (click)="delete(book.id)">Delete</button>
    </div>
  </div>
  </div>
  <div *ngIf="toggler == 'Author'">
    <div *ngFor="let author of Authors" class="bookHelperItem">
      <h3 (click)="showAuthor(author.id)" class="headerBookAdmin">{{author.name + ' ' + author.lastName}}</h3>
      <div class="buttonAdmin">
        <button (click)="deleteAuthor(author.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
