@media screen and (min-width: 768px) {
  .cover {
    width: 350px;
    height: 450px;
  }

  .cont1 {
    padding-top: 40px;
    display: block;
    width: 370px;
    height: 470px;
    float: left;
    display: block;
  }

  .cont2 {
    padding-top: 60px;
  }

  .name {
    padding-left: 20px;
    margin-left: 20px;
  }

  .desc {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .link {

  }

  .main {
    height: 530px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
  }

  .CommentForm {
    padding-top: 8px;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: lightgray;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .books:hover{
    color:teal;
  }

  .delete{
    font-style: italic;
    float: right;
    margin-right: 5%;
    margin-top: 4px;
  }
 .adminHelper{
   height: 600px;
   margin-top: 30px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .book{
    margin-top: 20px;
  }

  .author{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .change{
    margin-top: 20px;
  }
  .bookHelperItem{
    padding-left: 20px;
    height: 120px;
    margin-top: 30px;
    background-color: whitesmoke;
  }
 .title{
   text-align: center;
   padding-top: 20px;
 }
 .headerBookAdmin:hover{
   color: gray;
 }
 .buttonAdmin{
   float: right;
   padding-right: 2%;
 }
.badgeAdmin{
  margin-left: 10px;
}


}
@media screen and (max-width: 768px) {
  .cover {
    position: center;
    width: 250px;
    height: 350px;
  }
  .cont1 {
    margin-left: 20%;
    position: center;
    padding-top: 40px;
    margin-bottom: 40px;
    display: block;
    width: 270px;
    height: 370px;
    display: block;
  }

  .books:hover{
    color:teal;
  }

  .delete{
    font-style: italic;
    float: right;
    margin-right: 5%;
    margin-top: 4px;
  }

  .title{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .author{
    margin-left: 10px;
    margin-right: 10px;
  }
  .bookHelperItem{
    text-align: center;
    margin-top: 20px;
    background-color: whitesmoke;
  }
}
