<div class="container landingBody">
<div class="item" (click)="onSelect(book)"  *ngFor="let book of Books">
  <div class="box">
    <img  class="bookCovers" [src]="book.imageName" />
  </div>
  <div class="info">
    <h1 class="header">{{book.name}}</h1>
    <p class="author">{{book.authorName}}</p>
    <h6 class="yearField">{{book.year}}</h6>
    <h5 class="lang">{{book.language}}</h5>
    <h5 class="description">{{book.description.slice(0,400)}}...</h5>
    <small class="postingDate">{{book.dateOfPublishing.slice(0,10)}}</small>
  </div>
</div>
</div>
