@media screen and (min-width: 768px) {
  .bookCovers {
    margin-left: 20px;
    margin-top: 20px;
    width: 230px;
    height: 280px;
    float: left;
    display: block;
  }

  .landingBody {
    margin-top: 20px;
  }

  .box {
    width: 280px;
    height: 300px;
    float: left;
    display: block;
  }

  .item {
    margin-top: 60px;
    height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .yearField {
    font-style: italic;
  }

  .info {

    padding-top: 15px;
    margin-left: 30px;
    padding-left: 30px;
  }

  .postingDate {
    float: right;
    padding-right: 40px;
    padding-top: 50px;
  }

  .description {
    font-size: medium;
  }
}
@media screen and (max-width: 768px) {
  .item {
    margin-top: 40px;
    height: 230px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .description{
   display: none;
  }
  .bookCovers {
    margin-left: 2%;
    margin-right: 2%;
    position: center;
    padding-top: 2%;
    margin-bottom: 2%;
    display: block;
    width: 120px;
    height: 220px;
    float: left;
    display: block;
  }

  .header{
    font-size: 16px;
    padding-top: 30px;
  }
  .author{
    font-size: 16px;
  }
  .yearField{
    font-size: 12px;
  }
  .lang{
    font-size: 14px;
  }

}
