<div class="container show">
  <h1 class="text-center">Create new Book</h1>
  <form #userForm="ngForm" (ngSubmit)="postBook()" novalidate>
    <div class="container">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" required #name="ngModel" name="Name"  minlength="2"
               maxlength="50" [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="BookToAdd.name">
        <div *ngIf="name.errors && (name.invalid && name.touched)">
          <small class="text-danger" *ngIf="name.errors.required">Company`s name is required</small>
          <small class="text-danger" *ngIf="name.errors.pattern">Numbers is not allowed</small>
          <small class="text-danger" *ngIf="name.errors.minlength">Company's name length should be from 2
            symbols</small>
          <small class="text-danger" *ngIf="name.errors.maxlength">Company's name length should be up to 50
            symbols</small>
        </div>
      </div>

      <div class="form-group">
        <label>Language</label>
        <input type="text" class="form-control" required #name="ngModel" name="Name"  minlength="2"
               maxlength="50" [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="BookToAdd.language">
        <div *ngIf="name.errors && (name.invalid && name.touched)">
          <small class="text-danger" *ngIf="name.errors.required">Company`s name is required</small>
          <small class="text-danger" *ngIf="name.errors.pattern">Numbers is not allowed</small>
          <small class="text-danger" *ngIf="name.errors.minlength">Company's name length should be from 2
            symbols</small>
          <small class="text-danger" *ngIf="name.errors.maxlength">Company's name length should be up to 50
            symbols</small>
        </div>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" required #name="ngModel" name="Name"  minlength="2"
               maxlength="850" [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="BookToAdd.description">
        </textarea>
        <div *ngIf="name.errors && (name.invalid && name.touched)">
          <small class="text-danger" *ngIf="name.errors.required">Company`s name is required</small>
          <small class="text-danger" *ngIf="name.errors.pattern">Numbers is not allowed</small>
          <small class="text-danger" *ngIf="name.errors.minlength">Company's name length should be from 2
            symbols</small>
          <small class="text-danger" *ngIf="name.errors.maxlength">Company's name length should be up to 50
            symbols</small>
        </div>
      </div>

      <div class="form-group">
        <label>Year</label>
        <input type="number" class="form-control" required #name="ngModel" name="Name"  minlength="2"
               maxlength="50" [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="BookToAdd.year">
        <div *ngIf="name.errors && (name.invalid && name.touched)">
          <small class="text-danger" *ngIf="name.errors.required">Company`s name is required</small>
          <small class="text-danger" *ngIf="name.errors.pattern">Numbers is not allowed</small>
          <small class="text-danger" *ngIf="name.errors.minlength">Company's name length should be from 2
            symbols</small>
          <small class="text-danger" *ngIf="name.errors.maxlength">Company's name length should be up to 50
            symbols</small>
        </div>
      </div>


      <div class="form-group">
          <label for="AuthorSelect">AuthorID</label>
          <select  class="form-control" id="AuthorSelect" [(ngModel)]="BookToAdd.authorId" name="authorId">
            <option *ngFor="let author of Authors" [value]="author.id" name="AuthorIdForBook">{{author.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <input type="file" (change)="handleFileSelect($event)"  id="File" >
        </div>

      <div class="form-group">
        <input type="file" (change)="handleBookDataSelect($event)"  id="FileData" >
      </div>


      <button type="submit" [disabled]="userForm.form.invalid" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>

