<div class="container show">
  <h1>Update Company</h1>
  <form #userForm="ngForm" (ngSubmit)="updateData()" novalidate>
    <div class="container">
      <div class="form-group">
        <label>name</label>
        <input type="text" class="form-control" required #name="ngModel" name="Name"
                minlength="2" maxlength="50"
               [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="BookToUpdate.name">
      </div>

      <div class="form-group">
        <label>Language</label>
        <input type="text" class="form-control" required #language="ngModel" name="Language"
               minlength="2" maxlength="50"
               [class.is-invalid]="language.invalid && language.touched" [(ngModel)]="BookToUpdate.language">
      </div>

      <div class="form-group">
        <label>Year</label>
        <input type="text" class="form-control" required #year="ngModel" name="Year"
               minlength="2" maxlength="50"
               [class.is-invalid]="year.invalid && year.touched" [(ngModel)]="BookToUpdate.year">
      </div>

      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" required #description="ngModel" name="Description"
               minlength="2" maxlength="850"
               [class.is-invalid]="description.invalid && description.touched" [(ngModel)]="BookToUpdate.description">
      </div>

      <div class="form-group">
        <label>DateOfPublishing</label>
        <input type="text" class="form-control" required #dateOfPublishing="ngModel" name="DateOfPublishing"
               minlength="2" maxlength="50"
               [class.is-invalid]="dateOfPublishing.invalid && dateOfPublishing.touched" [(ngModel)]="BookToUpdate.dateOfPublishing">
      </div>


      <button type="submit" [disabled]="userForm.form.invalid" class="btn btn-primary">Save</button>
      <button type="button" class="btn" routerLink="">Cancel</button>
    </div>
  </form>
</div>
