<div class="container show">
  <h1 class="text-center">Create new Author</h1>
  <form #userForm="ngForm" (ngSubmit)="addAuthor()" novalidate>
    <div class="container">
      <div class="form-group">

        <label>First name</label>
        <input type="text" class="form-control" required #name="ngModel" name="Name"  minlength="2"
               maxlength="50" [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="Author.name">
      </div>

      <div class="form-group">
        <label>Last name</label>
        <input type="text" class="form-control" required #lastName="ngModel" name="lastName"  minlength="2"
               maxlength="50" [class.is-invalid]="lastName.invalid && lastName.touched" [(ngModel)]="Author.lastName">
      </div>

      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" required #description="ngModel" name="Description"  minlength="2"
               maxlength="450" [class.is-invalid]="description.invalid && description.touched" [(ngModel)]="Author.description">
      </div>


      <div class="form-group">
        <label>Year of birth</label>
        <input type="text" class="form-control" required #year="ngModel" name="Year"  minlength="2"
               maxlength="50" [class.is-invalid]="year.invalid && year.touched" [(ngModel)]="Author.year">
      </div>

      <div class="form-group">
        <input type="file" (change)="handleFileSelect($event)"  id="File" >
      </div>

      <button type="submit" [disabled]="userForm.form.invalid" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
