.show{
  padding-top: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.loginbtn{
  margin-left: 20px;
}

.regBTN{
  float: right;
  margin-top: 1%;
  margin-right: 2%;
}
