<div class="container show">

  <h1 class="text-center">Login</h1>
  <h3>{{this.redirect}}</h3>
  <form #userForm="ngForm" (ngSubmit)="login()" novalidate>
    <div class="container">

      <div class="form-group">
        <label>Login</label>
        <input type="text" class="form-control" required #Login="ngModel" name="Login"  minlength="2"
               maxlength="50" [class.is-invalid]="Login.invalid && Login.touched" [(ngModel)]="Creedential.Login">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" required #Password="ngModel" name="Password"  minlength="2"
               maxlength="50" [class.is-invalid]="Password.invalid && Password.touched" [(ngModel)]="Creedential.Password">
      </div>
    </div>
    <button type="submit" [disabled]="userForm.form.invalid" class="btn btn-primary loginbtn">Log in</button>
    <a class="regBTN" (click)="Register()" >Register</a>
  </form>
</div>

