<div class="container main">
  <div class="cont1">
    <img class="cover" [src]="Book.imageName" >
  </div>
<div class="cont2">
  <p class="name">Title: {{Book.name}}</p>
  <p>Year of publishing:  {{Book.year}}</p>
  <p>Language: {{Book.language}}</p>
  <p>Date of publishing: {{Book.dateOfPublishing?.slice(0,10)}}</p>
  <div (click)="showAuthor()" >
    <p>Author: <a class="link">{{Author}}</a></p>
  </div>
  <a href="{{environment}}/storedBook/download/{{Book.id}}"><button class="btn btn-success download">Download</button></a>
</div>
<p class="desc">Description: {{Book.description}}</p>


<form class="CommentAddForm" (ngSubmit)="postComment()" *ngIf="UserId != null">
<div class="form-group">
  <label for="exampleFormControlTextarea1" >Leave a comment</label>
  <textarea class="form-control" Name="CommentToAdd" id="exampleFormControlTextarea1" rows="3"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="CommentToAdd.commentBody"></textarea>
</div>
  <button type="submit" class="btn btn-primary">Leave comment</button>
</form>
  <div class="CommentForm" *ngIf="UserId == null">
    <p><a href="http://localhost:4200/user/login">Login</a> to leave a comment</p>
  </div>
<div class="comment" *ngFor="let comment of Comments">
  <p class="commentName">{{comment.Name}}</p>
  <small *ngIf="comment.userId === UserId" class="buttonDelete" (click)="deleteComment(comment.commentId)">Delete</small>
  <p class="commentBody">"{{comment.commentBody}}"</p>
</div>
</div>


