@media screen and (min-width: 768px) {
  .cover {
    width: 350px;
    height: 450px;
  }

  .cont1 {
    padding-top: 40px;
    display: block;
    width: 370px;
    height: 470px;
    float: left;
    display: block;
  }

  .cont2 {
    padding-top: 60px;
    height: 450px;
  }

  .name {
    padding-left: 20px;
    margin-left: 20px;
  }

  .desc {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .link {

  }

  .main {
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
  }

  .CommentForm {
    padding-top: 8px;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: lightgray;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .comment {
    border-top: 2px solid lightgray;
  }

  .CommentAddForm {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .commentName {
    margin-left: 10px;
  }

  .commentBody {
    font-style: italic;
  }

  .buttonDelete {
    border-radius: 10px;
    float: right;
    display: block;
    color: lightgray;
    font-style: italic;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    position: center;
    width: 250px;
    height: 350px;
  }
  .cont1 {
    margin-left: 20%;
    position: center;
    padding-top: 40px;
    margin-bottom: 40px;
    display: block;
    width: 270px;
    height: 370px;
    display: block;
  }
  .comment {
    border-top: 2px solid lightgray;
  }

  .desc{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .download{
    margin-left: 35%;
  }
  .buttonDelete {
    border-radius: 10px;
    float: right;
    display: block;
    color: lightgray;
    font-style: italic;
  }
  .CommentForm {
    padding-top: 8px;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: lightgray;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .CommentAddForm {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .commentName {
    margin-left: 10px;
  }

  .commentBody {
    font-style: italic;
  }
}




