<div class="container show">
  <h1 class="text-center">Registration</h1>
  <form #userForm="ngForm" (ngSubmit)="addUser()" novalidate>
    <div class="container">

      <div class="form-group">
        <label>First name</label>
        <input type="text" class="form-control" required #firstName="ngModel" name="FirstName"  minlength="2"
               maxlength="50" [class.is-invalid]="firstName.invalid && firstName.touched" [(ngModel)]="User.firstName">
      </div>

      <div class="form-group">
        <label>Last name</label>
        <input type="text" class="form-control" required #lastName="ngModel" name="LastName"  minlength="2"
               maxlength="50" [class.is-invalid]="lastName.invalid && lastName.touched" [(ngModel)]="User.lastName">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="Email" class="form-control" required #email="ngModel" name="Email"  minlength="2"
               maxlength="50" [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="User.email">
      </div>


      <div class="form-group">
        <label>Login</label>
        <input type="text" class="form-control" required #login="ngModel" name="Login"  minlength="2"
               maxlength="50" [class.is-invalid]="login.invalid && login.touched" [(ngModel)]="User.login">
      </div>


      <div class="form-group">
        <label>Password</label>
        <input type="Password" class="form-control" required #password="ngModel" name="Password"  minlength="2"
               maxlength="50" [class.is-invalid]="password.invalid && password.touched" [(ngModel)]="User.password">
      </div>

      <div class="form-group">
        <input type="file" (change)="handleFileSelect($event)"  id="File" >
      </div>

      <button type="submit" [disabled]="userForm.form.invalid" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
