<div class="container main">
  <div class="cont1">
    <img class="cover" [src]="Author.imageName" >
  </div>
  <div class="cont2">
    <p class="name">{{Author.name}}</p>
    <p class="name">{{Author.lastName}}</p>
    <p>{{Author.year}}</p>
    <p class="desc">"{{Author.description}}"</p>
  </div>
  <p *ngFor="let book of Author.books" (click)="GoToBook(book.id)" class="books">{{book.name}}</p>
</div>

