.footer{
  text-align: center;
  margin-top: 50px;
  background-color: whitesmoke;
  height: 80px;
  position: relative;
  margin-bottom: 2px;
  flex: 0 0 auto;
}

.footerText{
 padding-top: 30px;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
