<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">E-Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <form class="form-inline" (ngSubmit)="SearchBookName()">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
             [ngModelOptions]="{standalone: true}" [(ngModel)]="BookName">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="navbar-nav" *ngIf="tkn != null">
      <a class="nav-link active" routerLink="user/cabinet">Cabinet</a>
      <a class="nav-link active" (click)="logOut()" >Log out</a>
    </div>
    <div class="navbar-nav" *ngIf="tkn == null">
      <a class="nav-link active" routerLink="user/login">Login</a>
    </div>
  </div>
</nav>
